* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 300vw;
	height: 100vh;
	display: flex;
	flex-wrap: nowrap;
}

.page {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	font-size: 1.5em;
	text-align: center;
	color: white;
	/*     padding: 10px; */
}

.one {
	background: #718461;
}

.two {
	background: #f5992b;
}

.three {
	background: #f7b33d;
}

.about_btn_container{
    display: flex;
    width: 100vw;
    background: #73A1AB;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.about_btn_container a {
    padding: 1em 2em;
    background: #AB8E68;
    color: white;
    text-decoration: none;
}


footer {
    background: #ef4444;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
